.options {
    background: #000000;
    cursor: pointer;
    margin: 1rem 0;
    padding: 4px;
}

.options:hover {
    /* background: #181818b7; */
    transform: scale(1.1);
    transition-duration: 0.5s;
}